.photo img{
	width: 210;
	height:210;
	padding:20px;
	transition:1s;
}
.images{
	display:flex;
}

.photo img:hover{
	transform:scale(1.3);
}
.container{
	padding:12 0px;
	overflow-x:hidden;
	overflow-y:hidden;
}