.box {

	background: transparent;
	width: 400px;
	padding: 40px;
	position : absolute;
	top:15%;
	left:35%;
	box-shadow: 0px 0px 50px black;
	text-align: center;

}

.box h1{
	color: black;
	text-transform:"uppercase";
	font-weight: "30";
}

.box input[type="text"], .box input[type="password"]{
	border: 2px solid ;
	background:white;
	display: block;
	width:250px;
	border-radius: 5%;
	padding: 8px;
}